<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
</head>
<body>
<h1>Change Password</h1>
<form method="post" id="passwordChangeFrom">
    <input type="hidden" th:value="${signupSessionId}" name="signupSessionId">
    <div><input th:type="input" placeholder="아이디(이메일 입력)" th:name="email" th:required></div>
    <div><input th:type="input" placeholder="휴대폰 번호(숫자만 입력)" th:name="phoneNumber" th:required><button th:type="button" onclick="sendAuthCode()">인증번호</button></div>
    <div><input th:type="input" placeholder="인증번호 입력" th:name="authCode" th:required><button th:type="button" onclick="verifyAuthCode()">인증번호 확인</button></div>
    <div><input th:type="password" placeholder="새 비밀번호 (8-16자 이내)" th:name="password"></div>
    <div><input th:type="password" placeholder="새 비밀번호 확인" th:name="passwordConfirm"></div>
    <button type="button" onclick="changePassword()">완료</button>
</form>
</body>
<script type="application/javascript">
    function sendAuthCode() {
        var formData = $("#passwordChangeFrom").serialize();

        $.ajax({
            url: "/signIn/changePassword/sendAuthCode",
            data: formData,
            type: "POST",
            error: function (request, status, error) {
                alert(JSON.stringify(request.responseJSON, null, 2));
            }
        }).done(function (data) {
            alert(JSON.stringify(data, null, 2));
        });
    }

    function verifyAuthCode() {
        var formData = $("#passwordChangeFrom").serialize();

        $.ajax({
            url: "/signIn/changePassword/verifyAuthCode",
            data: formData,
            type: "POST",
            error: function (request, status, error) {
                alert(JSON.stringify(request.responseJSON, null, 2));
            }
        }).done(function (data) {
            alert(JSON.stringify(data, null, 2));
        });
    }

    function changePassword() {
        var formData = $("#passwordChangeFrom").serialize();

        $.ajax({
            url: "/signIn/changePassword",
            data: formData,
            type: "POST",
            error: function (request, status, error) {
                alert(JSON.stringify(request.responseJSON, null, 2));
            }
        }).done(function (data) {
            alert(JSON.stringify(data, null, 2));
        });
    }
</script>
</html>
